<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">



    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{% block body %}
    <header>
        {% block header %}
            <!-- Fixed navbar -->

            <div class="topbar bg-black d-none d-lg-block">
                <div class="container">
                    <div class="topbar-logo">
                        <div class="logo-wrapper">
                            <a href="#"><img src="{{ asset('build/images/logo.svg') }}" alt="Logo"></a>
                            <span class="logo-text">Spottycube</span>
                        </div>
                    </div>
                </div>
            </div>


            <nav class="navbar navbar-expand-lg navbar-dark bg-black ">
                <div class="container">
                    <div class="navbar-brand d-lg-none logo-wrapper">
                        <a href="#"><img src="{{ asset('build/images/logo.svg') }}" alt="Logo"></a>
                        <span class="logo-text">Spottycube</span>
                    </div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse " id="navbarNav">
                        <ul class="navbar-nav">
                            <!-- Navbar items -->
                            <li class="nav-item  me-4 menu-item">
                                <a class="nav-link " href="#">Graphics & Design</a>
                            </li>
                            <li class="nav-item me-4 menu-item">
                                <a class="nav-link" href="#">Digital Marketing</a>
                            </li>
                            <li class="nav-item me-4 menu-item">
                                <a class="nav-link" href="#">Writing & Translation</a>
                            </li>
                            <li class="nav-item  me-4 menu-item" >
                                <a class="nav-link" href="#">Video & Animation</a>
                            </li>
                            <li class="nav-item me-4 menu-item">
                                <a class="nav-link" href="#">Music & Audio</a>
                            </li>
                            <li class="nav-item me-4 menu-item" >
                                <a class="nav-link" href="#">Programming & Tech</a>
                            </li>
                            <li class="nav-item me-4 menu-item">
                                <a class="nav-link" href="#">Photography</a>
                            </li>
                            <li class="nav-item me-4 menu-item">
                                <a class="nav-link" href="#">Business</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>
        {% endblock %}
    </header>
    <main >
        {% block main %}{% endblock %}
    </main>
    <footer>
        {% block footer %}{% endblock %}
    </footer>
{% endblock %}


{% block script %}

{% endblock %}
</body>
</html>
